
.App {
  background-image: url('./Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height:100vh;  
  width: 100%;
  margin:0;
}
.searchbar{
  background-color:rgba(222, 184, 47, 0.5);
  padding:0;
  margin:0;
  display: flex;
  width:25%;
  height:100%;
  flex-direction: column;
  align-items: center
}

h1 {
  color:black;
  font-family: Kosugi;
  font-size: 2.5em;
}

input, button{
  width:50%;
}